/* You can add global styles to this file, and also import other style files */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #daf3ff;
    color: #000;
    line-height: 1.6em;
    padding: 1rem;
  }

main{
    max-width: 80ch;
    padding: 1rem;
    background-color: white;
    border-radius: 4rem;
    margin: 0 auto;
}

.logo {
    display: block;
    margin: 0 auto 1rem auto;
    max-width: 150px;
    height: auto;
  }

footer {
    max-width: 80ch;
    margin: 0 auto;
    background-color: #5AD0FF;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
    font-size: 1rem;
    border-radius: 4rem;
}

@media screen and (max-width: 768px) {
    .logo {
        max-width: 10ch;
    }

    footer {
        font-size: 0.85rem;
        padding: 0.75rem;
      }
}